:root {
  --red_color: #b53471;
  --dark_red_color: #8d2958;
  --white_color: #eceef3;
  --blue-color: #0097e6;
}
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
* {
  font-family: "Quicksand", sans-serif, Verdana, Geneva, Tahoma;
}
a{
    text-decoration: none;
    color: inherit;
}
body,html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* ///////////////// navbar styling begins //////////////*/

nav {
  background: var(--red_color);
  padding: 0;
  width: fit-content;
  color: var(--white_color);
  margin: 0;
  width: 100vw;
  /* height: 2rem; */
  box-shadow: inset -7px -7px 14px #8f2959,
              inset 7px 7px 14px #db3f89;
    /* height: 30px; */
    /* margin: 0 auto; */
    /* position: relative; */

}
nav > ul {
  list-style-type: none;
  /* background: yellow; */
  padding: 0;
}

nav > ul > li > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  
}

nav > ul > li > ul > a > li {
  background: var(--red_color);
  color: var(--white_color);
  padding: 0.7rem 0.75rem;
  border: 3px outset transparent;
  border-left-width: 4px;
  border-radius: 0.3rem;
  margin: 0.5rem;
  background: linear-gradient(145deg, #a32f66, #c23879);
  box-shadow: 5px 5px 10px #9f2e63, -5px -5px 10px #cb3a7f;

  cursor: pointer;
}

nav > ul > li > ul > a > .active,
nav > ul > li > ul > a > li:active,
nav > ul > li > ul > a > li:hover {
  padding: 0.7rem 0.85rem;
  box-shadow: inset 5px 5px 10px #9f2e63, inset -5px -5px 10px #cb3a7f;
  /* transition: 1s ease; */
}

/* nav > ul > li > #logo{
    width: fit-content;
    height: ;
    box-shadow:  -5px -5px 10px #4f1731,
                  5px 5px 10px #cb3b7f;
} */

nav > ul > li > #logo > span {
  background: var(--white_color);
  color: var(--red_color);
  padding: 0.5rem 0.5rem;
  border: 3px outset var(--dark_red_color);
  border-left-width: 4px;
  border-radius: 0.5rem;
  /* font-size: 1.05rem; */
  /* margin: 0; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
nav > ul > li > #logo > #port {
  background: var(--red_color);
  color: var(--white_color);
  padding: 0.5rem 0.5rem;
  margin-left: -0.5rem;
  border: 3px outset var(--dark_red_color);
  border-right-width: 4px;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* /////////////////// navbar styling ends //////////////*/
h1,h2,h3,h4,h5,h6{
    color: var(--red_color);
}
div > section {
  margin: auto;
  text-align: center;
  width: fit-content;
  padding: 2rem 4rem;
  /* padding-right: 9rem; */
  /* border-radius: 10px; */
  margin: 1rem 0rem;
}
div > section > div > #intro {
  font-size: 2rem;
  color: var(--white_color);
  /* position: relative; */
}
div > section > div > .about_me {
  color: var(--white_color);
}
div > section > div > .about_me > #typing {
  font-weight: bold;
  color: var(--white_color);
  padding: 0.1rem 0.1rem;
  border-right: 3px solid var(--red_color);
  animation: blinker 800ms infinite;
}
#me{
    position:absolute;
    /* border:2px double #ddd; */
    margin: 1rem;
    height:50px;
    background: linear-gradient(145deg, #bec0c4, #fdffff, #bec0c4 99%);
    color: var(--red_color);
    line-height:50px;
    font-size: 1.5rem;
    padding: 0.1rem;
    width: 180px;
    text-transform:uppercase;
    overflow:hidden;
    display:inline-block;
    left: 2.3rem;
}
#me span{
    animation:animate 10s ease infinite;
    position:relative;
}
@keyframes animate{
    0%,100%{
      top:0;
    }
    20%{
      top:0px;
    }  
    25%{
      top:-50px;
    }
    45%{
      top:-50px;
    }
    50%{
      top:-100px;
    }
    70%{
      top:-100px;
    }
    75%{
      top:-150px;
    }
    95%{
      top:-150px;
    }
  }
  

@keyframes blinker {
  0% {
    border-right-color: var(--white_color);
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: var(--white_color);
  }
}

.title{
    padding: 0.3rem 1rem;
    width: 250px;
    /* width: max-content; */
    background: var(--red_color);
    height: auto;
    margin: 1.5rem auto;
    /* margin-left: -0.55rem; */
    padding: 10px 20px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 5px;
    border: 4px inset var(--dark_red_color);
}
div > section:nth-child(1){
    background: url(/assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    color: var(--white_color);
    padding-left: 0;
    padding-right:0;
    margin: 0;   
}
div > section:nth-child(2n) {
  margin: 0;
  background: var(--white_color);
  width: 100vw;
  color: var(--dark_red_color);
  /* box-shadow: inset -7px -7px 14px #c8a4b5,
            inset 7px 7px 14px transparent; */
}
div > section:nth-child(2n+3) {
    color: var(--white_color);
    background: var(--red_color);
    width: 100vw;
    box-shadow: inset 5px 5px 10px #8f2959,inset -5px -5px 10px #8f2959;
    margin: 0;
}

.visit-btns {
    color: var(--red_color);
    padding: 0.7rem 0.75rem;
    border: 3px outset transparent;
    border-left-width: 4px;
    border-radius: 0.3rem;
    background: linear-gradient(315deg, #c9cbcf, #fdffff, #c9cbcf 99%);
    /* box-shadow:  -5px -5px 10px #c8a4b5,
             5px 5px 10px #fffaff; */
  
    cursor: pointer;
  }
  
    
.visit-btns:hover {
    padding: 0.7rem 0.85rem;
    box-shadow: inset 5px 5px 10px #c8a4b5,
            inset -5px -5px 10px #fffaff;
    /* transition: 1s ease; */
  }
.visit-btns1{
    background: linear-gradient(145deg, #a32f66, #c23879); border-color: #a32f66; color: #eceef3;
}

.visit-btns1:hover {
    padding: 0.7rem 0.85rem;
    box-shadow: inset 5px 5px 10px #8f2959,
            inset -5px -5px 10px #db3f89;
    /* transition: 1s ease; */
  }

i{
    color: var(--white_color);
    font-size: 2.3rem;
    padding: 0.4rem;
    margin: 0.5rem;
    box-shadow:  5px 5px 10px #8f2959,
             -5px -5px 10px #db3f89;
}
i:hover{
    box-shadow: inset 5px 5px 10px #8f2959,
            inset -5px -5px 10px #db3f89;
}
nav > ul{
  margin: 0;
  padding: 0;
}