:root {
  --red_color: #00a5ff;
  --dark_red_color:  #045de9;
  --white_color: #eceef3;
  --blue-color: #0097e6;
  --blue-gradient: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
  --default-shadow: 5px 5px 10px #006fab, -5px -5px 10px #00dbff;
  --active-shadow: inset 5px 5px 10px #006fab, inset -5px -5px 10px #00dbff;
  --button-gradient: linear-gradient(145deg, #0095e6, #00b1ff);


}
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
* {
  font-family: "Quicksand", sans-serif, Verdana, Geneva, Tahoma;
}
a{
    text-decoration: none;
    color: inherit;
}
body,html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

/* ///////////////// navbar styling begins //////////////*/

nav {
  background: var(--red_color);
  padding: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: fit-content;
  color: var(--white_color);
  margin: 0;
  width: 100vw;
  /* height: 2rem; */
  box-shadow: var(--active-shadow);
    /* height: 30px; */
    /* margin: 0 auto; */
    /* position: relative; */

}
nav > ul {
  list-style-type: none;
  /* background: yellow; */
  padding: 0;
}

nav > ul > li > ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  
}

nav > ul > li > ul > a > li {
  background: var(--red_color);
  color: var(--white_color);
  padding: 0.7rem 0.75rem;
  border: 3px outset transparent;
  border-left-width: 4px;
  border-radius: 0.3rem;
  margin: 0.6rem 0.5rem;
  background: var(--button-gradient);
  box-shadow: var(--default-shadow);

  cursor: pointer;
}

nav > ul > li > ul > a > .active,
nav > ul > li > ul > a > li:active,
nav > ul > li > ul > a > li:hover {
  padding: 0.7rem 0.85rem;
  box-shadow: var(--active-shadow);
  /* transition: 1s ease; */
}

/* nav > ul > li > #logo{
    width: fit-content;
    height: ;
    box-shadow:  -5px -5px 10px #4f1731,
                  5px 5px 10px #cb3b7f;
} */

nav > ul > li > #logo > span {
  background: var(--white_color);
  color: var(--red_color);
  padding: 0.5rem 0.5rem;
  border: 3px outset var(--dark_red_color);
  border-left-width: 4px;
  border-radius: 0.5rem;
  /* font-size: 1.05rem; */
  /* margin: 0; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
nav > ul > li > #logo > #port {
  background: var(--red_color);
  color: var(--white_color);
  padding: 0.5rem 0.5rem;
  margin-left: -0.5rem;
  border: 3px outset var(--dark_red_color);
  border-right-width: 4px;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* /////////////////// navbar styling ends //////////////*/
h1,h2,h3,h4,h5,h6{
    color: var(--red_color);
}
section {
  margin: auto;
  text-align: center;
  width: fit-content;
  padding: 2rem 4rem;
  /* padding-right: 9rem; */
  /* border-radius: 10px; */
  margin: 1rem 0rem;
}
section > div > #intro {
  font-size: 2rem;
  color: var(--white_color);
  /* position: relative; */
}
section > div > .about_me {
  color: var(--white_color);
}
section > div > .about_me > #typing {
  font-weight: bold;
  color: var(--white_color);
  padding: 0.1rem 0.1rem;
  border-right: 3px solid var(--red_color);
  animation: blinker 800ms infinite;
}
#me{
    position:absolute;
    /* border:2px double #ddd; */
    margin: 1rem;
    height:50px;
    background: linear-gradient(145deg, #bec0c4, #fdffff, #bec0c4 99%);
    color: var(--red_color);
    line-height:50px;
    font-size: 1.5rem;
    padding: 0.1rem;
    width: 180px;
    text-transform:uppercase;
    overflow:hidden;
    display:inline-block;
    left: 2.3rem;
}
#me span{
    animation:animate 10s ease infinite;
    position:relative;
}
@keyframes animate{
    0%,100%{
      top:0;
    }
    20%{
      top:0px;
    }  
    25%{
      top:-50px;
    }
    45%{
      top:-50px;
    }
    50%{
      top:-100px;
    }
    70%{
      top:-100px;
    }
    75%{
      top:-150px;
    }
    95%{
      top:-150px;
    }
  }
  

@keyframes blinker {
  0% {
    border-right-color: var(--white_color);
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: var(--white_color);
  }
}

.title{
    padding: 0.3rem 1rem;
    width: 250px;
    /* width: max-content; */
    background: var(--red_color);
    height: auto;
    margin: 1.5rem auto;
    /* margin-left: -0.55rem; */
    padding: 10px 20px;
    padding-bottom: 20px;
    position: relative;
    border-radius: 5px;
    border: 4px inset var(--dark_red_color);
}
section:nth-child(1){
    background: url(/assets/bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    color: var(--white_color);
    padding-left: 0;
    padding-right:0;
    margin: 0;   
}
section:nth-child(2n) {
  margin: 0;
  background: var(--white_color);
  word-wrap: break-word;
  color: var(--dark_red_color);
  /* box-shadow: inset -7px -7px 14px #c8a4b5,
            inset 7px 7px 14px transparent; */
}
div > section:nth-child(2n+3) {
    color: var(--white_color);
    background: var(--red_color);
    word-wrap: break-word;
    /* width: 100%; */
    box-shadow: var(--active-shadow);
    margin: 0;
}


.visit-btns2,.visit-btns3 {
  color: var(--red_color);
  padding: 0.7rem 0.75rem;
  border: 3px outset transparent;
  border-left-width: 4px;
  border-radius: 0.3rem;
  background: linear-gradient(145deg, #d4d6db, #fdffff);
  box-shadow:  var(--default-shadow);
  cursor: pointer;
}

  
.visit-btns2:hover {
  padding: 0.7rem 0.85rem;
  box-shadow: inset 5px 5px 10px #c8a4b5,
          inset -5px -5px 10px #fffaff;
  /* transition: 1s ease; */
}
.visit-btns3{
  background: var(--button-gradient);
  /* border-color: var(--blue-color); */
  /* box-shadow: var(--default-shadow); */
  color: #eceef3;
}

.visit-btns3:hover {
  padding: 0.7rem 0.85rem;
  box-shadow: var(--active-shadow);
  /* transition: 1s ease; */
}





.visit-btns,.visit-btns1 {
    color: var(--red_color);
    padding: 0.7rem 0.75rem;
    border: 3px outset transparent;
    border-left-width: 4px;
    border-radius: 0.3rem;
    background: linear-gradient(145deg, #d4d6db, #fdffff);
    box-shadow:  5px 5px 10px #8b8c8f,
                -5px -5px 10px #ffffff;
    cursor: pointer;
  }
  
    
.visit-btns:hover {
    padding: 0.7rem 0.85rem;
    box-shadow: inset 5px 5px 10px #c8a4b5,
            inset -5px -5px 10px #fffaff;
    /* transition: 1s ease; */
  }
.visit-btns1{
    background: var(--button-gradient);
    /* border-color: var(--blue-color); */
    /* box-shadow: var(--default-shadow); */
    color: #eceef3;
}

.visit-btns1:hover {
    padding: 0.7rem 0.85rem;
    box-shadow: var(--active-shadow);
    /* transition: 1s ease; */
}

i{
    color: var(--white_color);
    font-size: 2.3rem;
    padding: 0.4rem;
    margin: 0.5rem;
    box-shadow:  var(--default-shadow);
}
i:hover{
    box-shadow: var(--active-shadow);
}
nav > ul{
  margin: 0;
  padding: 0;
}
section > p{
  /* background: white; */
  word-wrap: break-word;
}


/* new one */

section{
  margin: 0;

}

.main-list{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-list > li:nth-child(2n){
  padding: 2rem;
  color: var(--red_color);
}
.main-list > li:nth-child(2n+3){
  padding: 2rem;
  color: var(--white_color);
  box-shadow: var(--active-shadow);
  background-color: var(--red_color);
}
.main-list > li > h3{
  padding-bottom: 1rem;
}
.footer{
  padding: 2rem;
  background: var(--red_color);
}